
.header {
  text-align: center;
  background-color: #234;
  &__title {
    padding: 25px 0;
    font-size: 25px;
    color: #fff;
    font-weight: bold;
  }
}

.sign {
  text-align: center;
  padding-top: 25px;
  & > *, & form > *, .squqred > * {
    margin-bottom: 10px;
  }
  hr {
    margin-bottom: 25px;
  }
}

.contents__item{
  margin-bottom: 10px;
}
.item__title{
  font-weight: bold;
}
.content_username{
  display: none;
}

.searchInput {
  display: inline-block;
  height: 21.6px;
  vertical-align: top;
}

.memberName{
  font-size: 20px;
}