.container{
    margin-left: auto;
    margin-right: auto;
}
.text-center{
    text-align: center;
}
.d-flex{
    display: flex;
} 
.d-flex-column{
    flex-direction: column;
}
.d-flex-row-reverse{
    flex-direction: row-reverse;
}
.d-flex-wrap{
    flex-wrap: wrap;
}
.justify-content-space-between{
    justify-content: space-between;
}
.justify-content-center{
    justify-content: center;
}
.align-items-center{
    align-items: center;
}