*{
    box-sizing: border-box;
    font-family: "Noto Sans TC", sans-serif;
}
html {
    font-size: 20px;
}
h1, h2 {
    font-weight: 600;
}
h2 {
    font-size: 40px;
}
header {
    padding: 20px;
}
.menuBurger {
    display: none;
}
.menu__link{
    margin-left: 20px;
}
.banner {
    background-color: #DDEEF8;
    height: 250px;
}
.cardList {
    max-width: 1200px;
    padding: 0 10px;
}
.cardList ul {
    gap: 20px;
}
.cardList li {
    background-color: #CCDDE8;
}
.headerCards li {
    width: calc(33.33333% - 13.3333px);
}
.headerCards h3 {
    margin-left: 20px;
}
.contentCards h3 {
    text-align: center;
    padding: 10px 0;
}